<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!--把Uservice的创建权交给bean-->
<!--    <bean id="userService" class="com.imooc.ioc.demo1.UserServiceImpl">
        &lt;!&ndash;设置属性 依赖注入，不需要修改代码只需要修改配置文件&ndash;&gt;
        <property name="name" value="Lisa"/>
    </bean>
    <bean id="food" class="com.imooc.ioc.demo1.FoodImpl">
        <property name="name" value="香蕉"/>
        <property name="taste" value="甜甜的"/>
        <property name="kind" value="水果"/>
    </bean>-->

    <!--Bean的实例化的三种方式=======-->
    <!--第一种：无参构造器（默认）-->
<!--
    <bean id="bean1" class="com.imooc.ioc.demo2.Bean1"/>
-->
    <!--第二种：静态工厂方式-->
<!--
    <bean id="bean2" class="com.imooc.ioc.demo2.Bean2Factory" factory-method="creatBean2"/>
-->
    <!--第三种：实例工厂方式-->
  <!--  <bean id="bean3Factory" class="com.imooc.ioc.demo2.Bean3Factory"/>
    <bean id="bean3" factory-bean="bean3Factory" factory-method="creatBean3"/>
-->
    <!--bean的作用范围===========-->
    <!--<bean id="person" class="com.imooc.ioc.demo3.Person" scope="prototype"/>-->

    <!--bean创建销毁函数-->
    <bean id="man" class="com.imooc.ioc.demo3.Man" init-method="init" destroy-method="destory"/>

</beans>