<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置目标类-->
    <bean class="com.imooc.aop.demo5.StudentDaoImpl" id="studentDao"/>
    <bean class="com.imooc.aop.demo5.CustomeDao" id="customeDao"/>

    <!--配置增强-->
    <bean class="com.imooc.aop.demo5.MyBeforeAdvice" id="myBeforeAdvice"/>
    <bean class="com.imooc.aop.demo5.MyAroundAdvice" id="myAroundAdvice"/>

    <!--在类的产生过程中自动生成代理 根据beanName自动代理 只能对所有方法增强不能针对个别方法-->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="*Dao"/>
        <property name="interceptorNames" value="myBeforeAdvice"/>
    </bean>
</beans>